{{#each this}}
<li class="gallery__item col-4 mb-4">
  <div class="photo-card">
    <img class="gallery__img img-fluid" src="{{webformatURL}}" alt="pic" height='200' />
    <div class="stats row justify-content-around p-2">
      <p class="stats-item row">
        <i class="material-icons mr-1">thumb_up</i>
        {{likes}}
      </p>
      <p class="stats-item row">
        <i class="material-icons mr-1">visibility</i>
        {{views}}
      </p>
      <p class="stats-item row">
        <i class="material-icons mr-1">comment</i>
        {{comments}}
      </p>
      <p class="stats-item row">
        <i class="material-icons mr-1">cloud_download</i>
        {{downloads}}
      </p>
    </div>
  </div>
</li>
{{/each}}